POSTGRES_HOST=DB주소
POSTGRES_PORT=5432
POSTGRES_DB=DB이름
POSTGRES_USER=DB사용자명
POSTGRES_PASSWORD=DB비밀번호

EMBEDDING_MODEL_NAME=임베딩모델명
EMBEDDING_USE_FP16=false
EMBEDDING_REQUIRE_CUDA=false
EMBEDDING_DEVICE_INDEX=0

LLAMA_BASE_URL=LLAMA서버주소
LLAMA_MODEL=LLAMA모델명
LLAMA_API_KEY=LLAMA_API키
LLAMA_TIMEOUT_SECONDS=600